<meta charset="UTF-8">
<title>Code Paste</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/material.min.css">
<link rel="stylesheet" href="/css/codemirror.css">
<link rel="stylesheet" href="/css/pastel-on-dark.css">
<link rel="stylesheet" href="/css/show-hint.css">
<link rel="stylesheet" href="/css/app.css">
